/* main styles */
html, body, p, a, h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif !important;
	font-size: 14px;
	font-weight:400;
}



.game-main-image {
	max-width: 100%;
}


/* Style for maginifyer */
* {
	box-sizing: border-box;
}

.img-magnifier-container {
	position: relative;
}

.img-magnifier-glass {
	position: absolute;
	border: 1px solid #000;
	border-radius: 2%;
	cursor: none;
	/*Set the size of the magnifier glass:*/
	width: 125px;
	height: 150px;
}


/* index styles */

.header {
	grid-column: 2/3;
	display: flex;
	align-content: space-between;
	margin:
}

.box1SignUpFunnel {
	display: grid;
	grid-template-columns: 5% 90% 5%;
	background-color: threeddarkshadow;
}

.box1SignUpFunnel>div {
	grid-column: 2;
	display: flex;
	margin-top: 5%;
	margin-bottom: 5%;
	justify-content: center;
}

.box2UserBenSignUp {
	display: grid;
	grid-template-columns: auto auto;
	background-image:
		url("../img/background-background-image-creek-707915.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: threeddarkshadow;
	color: white;
	margin-top: 1%;
	margin-bottom: 1%;
}

.underlayBox3 {
	position: relative; /* Position the background text */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #f1f1f1; /* Grey text */
	width: 100%; /* Full width */
	padding: 20px; /* Some padding */
}

.box3MetroBen {
	display: grid;
	grid-template-columns: auto auto;
	background-image: url("../img/conifer-daylight-environment-454880.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.box4BestPics {
	background-color: darkgrey;
}

.login {
	grid-column: 3/3;
	background-color: white;
}

.userBenefits {
	display: grid;
	grid-template-columns: auto auto auto auto;
	background-color: silver;
}

.userBenefits>h1 {
	grid-column: 2/span 2;
	text-align: center
}

.bestPics {
	grid-column: 2/3;
}

.responsive {
	width: 100%;
	height: auto;
}


/* footer styles */
footer {
	margin-top:40px !important;
	width:100%;
	display: grid !important; 
	/* grid-template-areas grid-template-rows / grid-template-column values */
	grid-template: "social copyright logo" 40px / 1fr 3fr 1fr;
	background-color: #1c5630; 
	color: white; 
	padding: 20px 0px 10px 0px; 
	margin: 10px 0px 0px 0px;
}

footer ul {
	list-style-type: none; 
	display: grid; 
}

footer .social {
	grid-area: social;
	vertical-align: middle;
	grid-template-columns: auto auto auto;
}

footer ul li {
	justify-content: center; 
	text-align: center;
}

footer ul li a {
	color: #fff; 
	font-size: 1.25em;
}
footer ul li a:hover {
	color: #d6d6d6; 
}
footer .copyright {
	vertical-align: middle;
	grid-area: copyright;
	text-align:center;
	font-size:12px;
	padding-top:4px;
}
footer .logo {
	vertical-align: middle;
	grid-area: logo;
	text-align:right;
}
.footer-logo-image {
	margin-top:-15px;
	max-width:220px;
}

/* header style */
.navbar {
	margin-bottom: 0px;
}

/* hero video */
/* Default hide the video on all devices */
#video{
	display:none
	}
/* Default display the image to replace the video on all devices */
#videosubstitute{
	display:block;
	width:100%;
	height:auto;
	max-width:100%
}
/* Medium Devices, Desktops */

@media only screen and (min-width : 992px) {
	#video{
		display:block;
	}
	#videosubstitute{
		display:none;
	}
}

#hero-video-wrapper {
	width: 100%; 
	min-width:100%; 
	margin:auto; 
	display:block;
	position: relative;
	overflow:hidden;
}

#video{
	width: 100%;
	height: 100%; 
}
#videoMessage {
	padding:0.4em;
}
#videoMessage {
	color:white;
	z-index:99;
}
#videoMessage h1{
	font-size: 3em;
	color:#a0ce11;
	text-align:center;
	font-weight: 600;
	margin: 0.25em;
	text-transform: uppercase;
}
#videoMessage h2{
	font-size: 1.5em;
	color:#ffffff;
	text-align:center;
	margin: 0.25em;
}
#videoMessage h3{
	font-size: 1.3em;
	color:#ffffff;
	text-align:center;
	margin: 0.25em;
}
.videoClick {
	text-align:center;
}
.videoClick a{
	color:white;
	background-color:rgba(241, 241, 241, 0.25);
	font-size: 1.7em;
	cursor:pointer;
	cursor:hand;
}

#videoMessageBox {
    position: absolute;  top: 0;  left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
}

#videoMessage {
     -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
}


/* mag button */
.mag-button {
	padding:0px !important;
	border:none;
}